test-results/meta-info.json
test-results/*.*
test-results
.classpath
.project
/bin
/target/*.*
/target/cucumber-html-report/*.*
/build/
.git
.settings
img
target
logs
test-output
stepbacklog.log
htmlReport/
/test-output/*/*
/test-output/*.*
/target/
jmeter.log
results.jtl
!gradle/wrapper/gradle-wrapper.jar
.DS_Store
/.gradle/
